.header {
    width: auto;
    height: 100px;
    margin-top: 0%;
    background-color: #9597AC;
    position: relative;
}
.title {
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 25px;
    left: 20px;
    text-align: center;
    font-size: 14px;
    background-color: #C4C4C4;
}
.frame{
    width:1200px;
    height:500px;
    border:2px solid;
    color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
table{
    border:solid;
    text-align:center;
    border-color: rgba(143, 114, 80, 1);
    border-collapse: collapse;
    height: 300px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}
th{
    height: 40px;
    font-size: 20px;
}
td{
    height: 30px;
}
button{
    height: 25px;
    width: 94px;
}
.button1{
    background-color: #FFDAC8;
    color: black;
    
}
.button2{
    background-color: #DEDEBE;
    color: black;
    margin-left: 20px;
}
.button3{
    background-color: #FFBB77;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

td{
    border: solid rgba(143, 114, 80, 1);
}
.bluecircle{
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color:rgba(66, 124, 137, 1);
    display:inline-block;
    margin-right: 20px;
    
}
.orangecircle{
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color: orange;
    display:inline-block;
    margin-right: 20px;
}